@model RoleTopMVC.ViewModels.DashboardViewModel;
<main>
    <h2>Lista de Eventos</h2>

    <section id="lista de algueis">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Tipo de Evento</th>
                    <th>Evento</th>
                    <th>Data e Hora</th>
                    <th>Descrição</th>
                    <th>Status do Pedido</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <p>Atualizado em @DateTime.Now</p>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var agenda in Model.Agendamentos)
                {
                    <tr>
                        <td>@agenda.Cliente.Nome</td>
                        <td>@agenda.Cliente.Email</td>
                        <td>@agenda.Agenda.Tipo</td>
                        <td>@agenda.Agenda.Evento</td>
                        <td>@agenda.Agenda.DataHora</td>
                        <td>@agenda.Agenda.Descricao</td>
                        <td>@agenda.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>