@model RoleTopMVC.ViewModels.HistoricoViewModels
@{
    ViewData["Title"] = "Agenda - Rolê Top";
    ViewData["H2"] = "Histórico de Agendamento";
}

<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <th>Data e Hora</th>
                <th>Tipo de evento</th>
                <th>Evento</th>
                <th>Descrição</th>
                <th>Serviços</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var agenda in Model.Agendar) {
                <tr>
                    <td>@agenda.Agenda.DataDoEvento</td>
                    <td>@agenda.Agenda.Tipo</td>
                    <td>@agenda.Agenda.Evento</td>
                    <td>@agenda.Agenda.Descricao</td>
                    <td>@agenda.Agenda.Servicos</td>
                </tr> 
            }
        </tbody>
    </table>
</main>